# Ignorar todos los archivos en la carpeta bin/
**/bin/*

# Permitir que las carpetas bin/ permanezcan
!**/bin/

# Permitir que las carpetas bin/ estén vacías con un archivo .gitkeep
!**/bin/.gitkeep

# Ignorar la carpeta .vscode
.vscode/

# Ignorar todos los archivos .avi
*.avi
*.AVI

# Ignorar la carpeta records dentro de cameracontrol
cameracontrol/records/